%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
    %meta{'http-equiv' => 'refresh', :content => '300'}

  %body
    %h1.light-blue
      = "#{@today.strftime('%A, %B %e')}"
    .calendar.hoxton
      .room.room__1
        %h2.light-blue Main Meeting Room
        - if @ground_floor_events
          %ul
            - @ground_floor_events.each do |event|
              %li
                .datetime= "#{event.start.date || event.start.date_time.strftime("%l:%M %P")} – #{event.end.date || event.end.date_time.strftime("%l:%M %P")}"
                .title
                  = event.summary || 'Private or unspecified'
                %em.organiser
                  - if event.organizer
                    = "#{event.organizer.display_name || event.organizer.email}"
                  - else
                    Private or unspecified
      .room.room__2
        %h2.dark-blue
          The Hide
        - if @the_hide_events
          %ul
            - @the_hide_events.each do |event|
              %li
                .datetime= "#{event.start.date || event.start.date_time.strftime("%l:%M %P")} – #{event.end.date || event.end.date_time.strftime("%l:%M %P")}"
                .title
                  = event.summary || 'Private or unspecified'
                %em.organiser
                  - if event.organizer
                    = "#{event.organizer.display_name || event.organizer.email}"
                  - else
                    Private or unspecified

      .room.room__3
        %h2.turquoise Wellbeing Room
        - if @wellbeing_room_events
          %ul
            - @wellbeing_room_events.each do |event|
              %li
                .datetime= "#{event.start.date || event.start.date_time.strftime("%l:%M %P")} – #{event.end.date || event.end.date_time.strftime("%l:%M %P")}"
                .title
                  = event.summary || 'Private or unspecified'
                %em.organiser
                  - if event.organizer
                    = "#{event.organizer.display_name || event.organizer.email}"
                  - else
                    Private or unspecified
