%html
  %head
    %link{rel: 'stylesheet', href: 'styles.css'}

  %body
    %h1 Room Usage

    .calendar
      .room
        %h2 Ground Floor Meeting Room
        - if @ground_floor_events
          %ul
            - @ground_floor_events.each do |event|
              %li
                %strong
                  = event.summary || 'Unspecified'
                %br/
                = "(#{event.start.date || event.start.date_time} - (#{event.end.date || event.end.date_time})"
                %br/
                %em
                  - if event.organizer
                    = "Organised by: #{event.organizer.display_name || event.organizer.email}"
                  - else
                    No organiser specified
      .room
        %h2 First Floor Meeting Room (The Hide)
        - if @the_hide_events
          %ul
            - @the_hide_events.each do |event|
              %li
                %strong
                  = event.summary || 'Unspecified'
                %br/
                = "(#{event.start.date || event.start.date_time} - (#{event.end.date || event.end.date_time})"
                %br/
                %em
                  - if event.organizer
                    = "Organised by: #{event.organizer.display_name || event.organizer.email}"
                  - else
                    No organiser specified

      .room
        %h2 Wellbeing Room
        - if @wellbeing_room_events
          %ul
            - @wellbeing_room_events.each do |event|
              %li
                %strong
                  = event.summary || 'Unspecified'
                %br/
                = "(#{event.start.date || event.start.date_time} - (#{event.end.date || event.end.date_time})"
                %br/
                %em
                  - if event.organizer
                    = "Organised by: #{event.organizer.display_name || event.organizer.email}"
                  - else
                    No organiser specified
