%html
  %head
    %title #{@board_name} - Room Dashboards - dxw
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
    %meta{'http-equiv' => 'refresh', :content => '300'}

  %body
    %h1.light-blue
      = "#{@today.strftime('%A, %B %e')}"
    .calendar{"style" => "grid-template-columns: repeat(#{@rooms.count}, 1fr)"}
      - @rooms.each do |room|
        .room{:class => room.css_class}
          %h2
            = room.name
          - if room.events
            %ul
              - room.events.each do |event|
                %li
                  .datetime= "#{event.start.date || event.start.date_time.strftime("%l:%M %P")} – #{event.end.date || event.end.date_time.strftime("%l:%M %P")}"
                  .title
                    = event.summary || 'Private or unspecified'
                  %em.organiser
                    - if event.organizer
                      = "#{event.organizer.display_name || event.organizer.email}"
                    - else
                      Private or unspecified
