%html
  %head
    %title #{@board_name} - Room Dashboards - dxw
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
    %meta{'http-equiv' => 'refresh', :content => '300'}

  %body
    %h1
      %span#datetime_date #{@today.strftime('%A, %B %e')}
      -if @show_clock
        %span#datetime_time
    .calendar{"style" => "grid-template-columns: repeat(#{@rooms.count}, 1fr)"}
      - @rooms.each do |room|
        .room{:class => room.css_class}
          %h2= room.name
          = haml(:_room, locals: {room: room})

- if @show_clock
  :javascript
    function updateClock()
    {
        var now = new Date();

        document.getElementById("datetime_date").innerHTML = now.toLocaleString('en-US', { weekday: 'long', month: 'long', day: 'numeric' });
        document.getElementById("datetime_time").innerHTML = now.toLocaleString('en-GB', { hour: 'numeric', minute: 'numeric', hour12: true });
    }

    updateClock();
    setInterval(updateClock, 10000);

:javascript

  var findClass = document.getElementsByClassName("event");
  var tallest = 0;

  for(i = 0; i < findClass.length; i++)
  {
    var element = findClass[i];
    var elementHeight = element.offsetHeight;
    tallest = (elementHeight>tallest ? elementHeight : tallest);
  }
  for(i = 0; i < findClass.length; i++)
  {
    findClass[i].style.height = tallest + "px";
  }

  equalHeights('calentry')
